@page
@model lab2.Pages.Giraffes.DeleteModel

@using Microsoft.Extensions.Localization
@inject IStringLocalizer<Program> Localizer

@{
    ViewData["Title"] = Localizer["Delete"];
}

<h1>@Localizer["Delete"]</h1>

<h3>@Localizer["DeleteConfirmation"]</h3>
<div>
    <h4>@Localizer["Giraffes"]</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Giraffe.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Giraffe.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Giraffe.Weight)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Giraffe.Weight)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Giraffe.Age)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Giraffe.Age)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Giraffe.NeckLength)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Giraffe.NeckLength)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Giraffe.NumberOfDots)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Giraffe.NumberOfDots)
        </dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="Giraffe.Id" />
        <input type="submit" value="@Localizer["Delete"]" class="btn btn-danger" /> |
        <a asp-page="./Index">@Localizer["Back"]</a>
    </form>
</div>
