@model Models.Book

<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<div class="form-group">
    <label asp-for="@Model.Title" class="control-label"></label>
    <input asp-for="@Model.Title" class="form-control" />
    <span asp-validation-for="@Model.Title" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="@Model.ReleaseDate" class="control-label"></label>
    <input asp-for="@Model.ReleaseDate" class="form-control" />
    <span asp-validation-for="@Model.ReleaseDate" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="@Model.PublishingHouse" class="control-label"></label>
    <input asp-for="@Model.PublishingHouse" class="form-control" />
    <span asp-validation-for="@Model.PublishingHouse" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="@Model.PageCount" class="control-label"></label>
    <input asp-for="@Model.PageCount" class="form-control" />
    <span asp-validation-for="@Model.PageCount" class="text-danger"></span>
</div>